.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  margin-top: 100px;
  
}
.innerApp{
  width: 25%;
min-height: 400px;
margin: 0 auto;
margin-top: 40px;
border-radius: 10px ;
background-color:#d7d7d7;
}

.inputareas input{
  text-align: center;
  border: 0;
  border-bottom: 2px solid maroon;
  background: transparent;
  outline: none;
  margin-right: 20px;
}
.inputareas button{
  background-color: maroon;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}
.getlists{
margin-top: 10px;
background-color: rgb(190, 192, 192);
width: 100%;
}
.getlists button {
  background-color: maroon;
  border: none;
  color: #fff;
  
}
.deletebutton{
  /* position: absolute;
  right: 575px;
 margin: 0;
 padding: 0; */
 
  
}
.deletebutton button{
 
padding: 5px 10px;
border-radius: 5px;
}
.buttons{
 /* display: flex;
 flex-direction: row; */
}